
@if (flights().length > 0) {

<div class="card-wrapper">
    @for (item of flights(); track $index) {

        <mat-card class="flight-card" appearance="outlined">
  <img mat-card-image [src]='utils.getImageUrl(item)' [alt]='item.destination'>
  <mat-card-content>
    <h3>{{item.destination}}</h3>
    <p>{{utils.formatDate(item.scheduledAt)}}</p>
  </mat-card-content>
  <mat-card-actions>
    
    <a [routerLink]="`/details/${item.id}`" matButton >
      <mat-icon fontIcon="description" />Details</a>
    @if(service.getActiveUser()){
    <a [routerLink]="`/details/${item.id}/booking`" matButton >
      <mat-icon fontIcon="airplane_ticket" />Book now</a>
    }
  </mat-card-actions>
</mat-card>

    }
</div>

}@else {
  <app-loading />
    
}