
@if (flights().length > 0) {

<div class="card-wrapper">
    @for (item of flights(); track $index) {

        <mat-card class="flight-card" appearance="outlined">
  <img mat-card-image [src]='utils.getImageUrl(item)' [alt]='item.destination'>
  <mat-card-content>
    <h3>{{item.destination}}</h3>
    <p>{{utils.formatDate(item.scheduledAt)}}</p>
  </mat-card-content>
  <mat-card-actions>
    
    <a [routerLink]="`/details/${item.id}`" matButton >
      <mat-icon fontIcon="description" />Details</a>
  </mat-card-actions>
</mat-card>

    }
</div>

}@else {
  <mat-card class="loading-card">
    <mat-card-content >
      <img src="/loading2.gif" class="loading-gif">
      <h3>Podaci se ucitavaju</h3>
    <p>Molimo sacekajte ...</p>
    </mat-card-content> 
  </mat-card>
    
}