.flight-card{
    width: 250px;
}
.card-wrapper{

    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;

}

.loading-card{
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.loading-gif{
    width: 80px;
}